<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @status %>

    <%= link_to "Edit this status", edit_status_path(@status), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this status", status_path(@status), method: :delete, data: { "turbo_method": :delete, "turbo-confirm": "Are you sure you want to delete this?" }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to statuses", statuses_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
