<div class="w-full m-5">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Categories</h1>
    <% if admin_signed_in? %>
      <%= link_to "New category", new_category_path, class: "rounded-lg mr-10 py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>

  <div>
    <table class="text-left">
      <thead>
        <tr class="bg-green-200">
          <th class="p-2">Name:</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
        <tr class="even:bg-blue-100 hover:bg-gray-200">
          <td class="p-2"><%= link_to category.name, category_path(category) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
