<footer class="bg-gray-100 text-black mt-6">
  <div class="max-2-6xl max-auto px-4 pb-5 pt-10 md:pt-10 md:pb-5">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">

      <!-- Contact information -->
      <div class="mt-2 mb-8 md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h3 class="text-sm font-semibold tracking-wider uppercase text-gray-700">
            Contact
          </h3>
          <ul class="mt-4 space-y-4">
            <li>
              <p class="text-base leading-6 text-black">
              123 Crazy Lane <br>
              Winnipeg, MB R1R 1R1
              </p>
            </li>
            <li>
              <p class="text-base leading-6 text-black">
              Email: support@crazy.com
              </p>
            </li>
            <li>
              <p class="text-base leading-6 text-black">
              Phone: (123) 456-7890
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="border-t border-gray-400">
        <div class="max-w-6xl mx-auto px-4 py-6 md:flex md:items-center md:justify-between">
          <p class="mt-2 text-base leading-6 text-gray-500 md:mt-0 md:order-1">
          &copy; <%= Time.now.year %> Crazy Computers, Inc. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
